[Desktop Entry]
Encoding=UTF-8
Name=Link to file:///home/glockamy/Pictures/Selection_004.png
Type=Link
URL=file:///home/glockamy/Pictures/Selection_004.png
Icon=image-png
